@page "/Report"

<h3>Report</h3>

<p>A bunch of text pretending to be a report</p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>First Row</td>
        <td>12</td>
    </tr>
    <tr>
        <td>Second Row</td>
        <td>24</td>
    </tr>
    </tbody>
</table>

<h5>Signature Below:</h5>
<hr/>
<div id="signature-area-1" class="signature-box">
    Signature Zone 1
</div>
